.deal-div{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
    -2px -2px 5px rgba(0, 0, 0, 0.2),
    2px -2px 5px rgba(0, 0, 0, 0.2),
    -2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    transition: .2s;
}
.deal-div:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -2px -2px 5px rgba(0, 0, 0, 0.5),
    2px -2px 5px rgba(0, 0, 0, 0.5),
    -2px 2px 5px rgba(0, 0, 0, 0.5);
}
